doctype html
html
    head
        include common/head.pug
        +head()
        link(rel="stylesheet", href="/css/index.css")
    body
        include common/loader.html
        include common/body.pug
        +body(true, user)
        h1 Miss Bibb's Books
        if title
            h2= title
        if filters && filters.length !== 0
            #filters
                span Filters: 
                each filter in filters
                    a#filter(class=filter.type + "Filter", data-id=filter.id, data-type=filter.type).filter= filter.name

        if books.length == 0
            span We couldn't find any books - try a different filter or try again later!
        else
            form(name="addBook", action="#", onsubmit="addBookFormSubmit(this); return false")
                table
                    tr
                        th#coverCol
                        th#titleCol Title
                        th#authorCol Author
                        th#blurbCol Blurb
                        th#addCol
                        //th#genreCol Genre
                        //th#tagCol Tags
                    if admin
                        tr
                            td
                                label(for="coverInput").editInput
                                    input(type="file", name="coverInput")#coverInput.hide
                                    img(src="", alt="Cover")#cover
                            td
                                div#titleInput
                            td
                                div#authorInput
                            td
                                div#blurbInput
                            //td
                                div#genreInput
                            //td
                                div#tagInput
                            td
                                button Add
                    each book in books
                        tr
                            td
                                if book.cover
                                    .cellWrapper
                                        a(href="./book?id=" + encodeURIComponent(book.id))
                                            img(src="" + book.cover)
                            td(onclick=`window.location.href="./book?id=${encodeURIComponent(book.id)}"`).clickable 
                                span= book.title
                            td(onclick=`window.location.href="./?author=${encodeURIComponent(book.author.id)}"`).clickable
                                span= book.author.name
                            td
                                span= book.blurb
                            //td
                                .cellWrapper
                                    each genre in book.genres
                                        a(href="./?genre=" + encodeURIComponent(genre.id)).genre= genre.name
                            //td
                                .cellWrapper
                                    each tag in book.tags
                                        a(href="./?tag=" + encodeURIComponent(tag.id)).tag= tag.name
                            if admin
                                td
                                    button(data-id=book.id, data-title=book.title).delete Delete

        script(src="/libs/searchdown.min.js")
        script(type="text/javascript").
            const authors = !{JSON.stringify(authors)};
            const genres = !{JSON.stringify(genres)};
            const tags = !{JSON.stringify(tags)};
        script(src="/js/index.js")
        if admin
            script(src="/js/indexAdmin.js")
